# pruebas de machine learning
ml-lab/
# base de datos
database/*.db
local_data/
**/__pycache__/**
static/assets/node_modules/
static/books/
static/images/

old_public/
bower_components/


# entornos virtuales python
venv/

# emacs temps
*~
.*
\#

# python
*.pyc.*


# logs
*.log.*

.gitignore
