{% extends "Base/base-profile.html" %}
{% block title %}LIBREría{% endblock %}
{% block content %}
    <div class="col-md-9">
        <div class="col-md-12" style="border-width: 1px 1px 0px 1px; border-style: solid; border-color: rgb(219, 216, 216); background: #ffffff;">
            <h3 style="text-align: center">Mi Perfil<p><small>Añadir información para compartir tu perfil</small></p></h3>
        </div>
        <form novalidate>
            <div class="col-md-12" style="border-width: 1px 1px 0px 1px; border-style: solid; border-color: rgb(219, 216, 216); background: #ffffff;">
                <div class="col-md-8 col-md-offset-2">
                    <div class="control-group form-group">
                        <div class="controls">
                            <br>
                                <div class="form-group">
                                    <label for="autor">Nombre</label>
                                    <input type="text" class="form-control" aria-describedby="autorhelp" placeholder="Autor" required>
                                </div>
                                <div class="form-group">
                                        <label for="autor">Apellido</label>
                                        <input type="text" class="form-control" aria-describedby="autorhelp" placeholder="Autor" required>
                                </div>
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename = 'assets/js/User.js')}}"></script>
<script >
    var id = localStorage.getItem('autor_id');
    User.getAuthor(id)
</script>
{% endblock %}
