{% extends "Base/base-profile.html" %}
{% block title %}LIBREría{% endblock %}
{% block content %}
    <div class="col-md-9">
        <div id="following" class="col-md-12" style="border-width: 1px 1px 0px 1px; border-style: solid; border-color: rgb(219, 216, 216); background: #ffffff;">
            <h3 style="text-align: center">Siguiendo</h3>

        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename = 'assets/js/User.js')}}"></script>
<script >
    $(function(){
        User.getFollowing();
    });
</script>
{% endblock %}
