<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
      <!--cambiar-->
        <div>
                <form class="form-signin">
                <label for="inputName" class="sr-only">Nombre: </label>
                <input type="name" name="inputName" id="inputName" placeholder="Nombre" required autofocus>
                <label for="inputUsername" class="sr-only">Nombre de usuario</label>
                <input type="username" name="inputUsername" id="inputUsername" placeholder="Nombre de usuario">
                <label for="inputEmail" class="sr-only">Correo: </label>
                <input type="email" name="inputEmail" id="inputEmail" placeholder="Correo" required autofocus>
                <label for="inputPassword" class="sr-only">Contraseña:  </label>
                <input type="password" name="inputPassword" id="inputPassword" placeholder="Contraseña" required>
                
                <button id="btnEnviar" class="btn btn-lg btn-primary btn-block" type="button">Enviar</button>
              </form>
              </div>
 <!--{{ url_for('static', filename = 'assets/js/bootstrap.js')}}-->
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--llevar a carpeta js-->
 <script type="text/javascript">
    $(function(){
	$('#btnEnviar').click(function(){
		
		$.ajax({
			url: '/Enviar',
			data: $('form').serialize(),
			type: 'POST',
			success: function(response){
				console.log(response);
			},
			error: function(error){
				console.log(error);
			}
		});
	});
});
 </script>
    </div>
  </body>
</html>