{% extends "base.html" %}
{% block title %}Donaciones{% endblock %}
{% block content %}

<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-head-line">Acerca de la LIBREría</h1>
      </div>
      <div class="col-md-8 col-md-offset-2">

	<p>
	  La LIBREría es un gran estante digital de libros que todos podemos leer libremente y sin ningún costo. En la LIBREría puedes buscar, leer y compartir libros que hayan sido publicados en licencias abiertas o se encuentren en el dominio público. La LIBREría tiene como objetivo difundir material bibliógrafico de escritores bolivianos.
	</p>
	
	<p>
	  <b>La LIBREría pertenece a la comunidad</b>. Su código es <a href="https://es.wikipedia.org/wiki/C%C3%B3digo_abierto">abierto</a> y cualquiera puede <a href="https://github.com/pabloIO/LIBREria">editarlo</a>. Sus libros son distribuidos con una licencia abierta y cualquiera puede compatirlos. Quisieramos que este proyecto sea autosostenible y crezca. Si crees como nosotros en el valor de compartir conocimiento, te rogamos hacer una donación. Por favor comunícate con nosotros a:
	</p>
	<p>
          <strong><i class="far fa-envelope"></i></strong>  openlibreria.bo@gmail.com </br>
          <strong><i class="fas fa-mobile-alt"></i></strong>  (+591) 70162630</i>
</p>

</div>
</div>
</div>
</div>

{% endblock %}
