<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta lang="es">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="LIBREria" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="../static/icon/icon.ico">
    <link href="{{ url_for('static', filename = 'assets/css/bootstrap.css') }} " rel="stylesheet" />
    <link href="{{ url_for('static', filename = 'assets/css/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename = 'assets/css/LIBREria.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename = 'assets/css/fontawesome.min.css') }}" rel="stylesheet" />
</head>

<body>
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container center-block">
            <div class="navbar-header">
                <div class="col-md-12">
                    <button type="button" class="main-menu-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                    </button>
		    <a href="/"><img class="center-block" src="{{ url_for('static', filename = 'assets/img/LIBREria_2.png')}}" /></a>
                </div>
            </div>
        </div>
    </div>
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                          <li><a class="link-menu" href="/">Libros</a></li>
			  <li><a class="link-menu" href="/poema">Poema</a></li>
                            <li><a class="link-menu" href="/nosotros">Nosotros</a></li>
                            <li><a class="link-menu" href="/bibliotecas">Bibliotecas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% block content %}{% endblock %}

    <footer>
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                  <a href="https://github.com/pabloIO/LIBREria" class="repo-link"><i class="fab fa-github"></i>  Contribuye código</a>
                <a href="https://twitter.com/LIBREria_bo" class="repo-link"><i class="fab fa-twitter"></i>  Síguenos</a>
		  <p>
		    <div>
		      <strong>Con apoyo de</strong>
		    </div>
		    <a href="https://lapaz.laotrared.net" target="_blank"><img src="{{ url_for('static', filename = 'assets/img/laotrared_header.png')}}"></a>
		  </p>       
              </div>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename = 'assets/js/jquery-1.11.1.js')}}"></script>
    <script src="{{ url_for('static', filename = 'assets/js/bootstrap.js')}}"></script>
    {% block js %}{% endblock %}

</body>
</html>
