{% extends "base.html" %}
{% block title %}Donaciones{% endblock %}
{% block content %}

<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-head-line">Libros Libres</h1>
      </div>
      <div class="col-md-8 col-md-offset-2">
	
	<p>
	  En la LIBREría puedes buscar, leer y compartir libros que se encuentren en el dominio público o hayan sido publicados bajo licencias abiertas.
	</p>

	<div class="licenciaContainer">
	<p class="licencia licenciaIcon"><i class="fab fa-creative-commons-share"></i></p>
	<p class="licenciaText">
	  Un libro en el <b>dominio público</b> es una obra que nunca ha estado bajo derechos de autor o donde estos derechos han expirado.
	</p>
	</div>

	<div class="licenciaContainer">
	<p class="licencia licenciaIcon"><i class="fab fa-creative-commons"></i></p>
	<p class="licenciaText">
	  Un libro bajo una <b>licencia abierta</b> es una obra donde el autor permite que otras personas la redistribuyan o incluso remezclen y contribuyan, dependiendo de la licencia especiífica.
	</p>
	</div>
	
</div>
</div>
</div>
</div>

{% endblock %}
