{% extends "Base/base.html" %}
{% block title %}LIBREría{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename = 'assets/js/LIBREria.js')}}"></script>
{% endblock %}
{% block content %}
<br>
<div class="row">
        <div class="col-md-2">
            </div>
    <!--FIN-->
    <div class="col-md-10">
        <form novalidate>
            <div class="col-md-4" style="border-width: 1px 1px 0px 1px; border-style: solid; border-color: rgb(219, 216, 216); background: #ffffff;">
                    <div class="form-group">
                            <img src="{{ url_for('static', filename = 'assets/img/portada_1.png')}}" width="100%" height="auto" class="img-responsive img-portfolio img-hover">
                        </div>
            </div>
            <div class="col-md-6" style="border-width: 1px 1px 0px 1px; border-style: solid; border-color: rgb(219, 216, 216); background: #ffffff;">
                    <div class="control-group form-group">
                        <div class="controls">
                            <br>
                            
                                
                                <div class="form-group">
                                    <img src="{{ url_for('static', filename = 'assets/img/LaLIBREria.jpg')}}" width="100%" height="auto" class="img-responsive img-portfolio img-hover">
                                </div>
                            <p class="help-block"></p>
                        </div>
                        <div class="control-group form-group">
                        <div class="controls">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary">Publicado</button>
                                <button type="button" class="btn btn-primary">Descarga</button>
                                <button type="button" class="btn btn-primary">Leer</button>
                                <input type="text" class="form-control" placeholder="Descargas: 111">
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </form>
    </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-5">
            <form>
                <div class="col-md-12">
                    <textarea name="" id="" cols="100%" rows="10"></textarea>
                </div>
            </form>
        </div>
    </div>
<br>
{% endblock %}
