{% extends "Base/base-auth.html" %}
{% block title %}LIBREría{% endblock %}
{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/ver-libro.css')}}">
{% endblock%}
{% block content %}
<br>
<div class="container-fluid">
    <div class="container">
        <div class="row" id="verlibros">
                        <!--FIN-->
            <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-4">
                                <div id="verlibro1" style="border-width: 1px 1px 1px 1px; border-radius: 2%; border-style: solid; border-color: rgb(219, 216, 216); background: #ffffff;">
                                        <button class="btn btn-upload" data-toggle="modal" data-target="#denounce">Denunciar Libro</button>
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <img id="img_book" width="100%" height="auto" class="img-responsive to-center">
                                        </div>
                                        <div id="stars" class="clasificacion" style="margin:auto;">
                                            
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-8">
                                    <div id="verlibro2" style="border-width: 1px 1px 1px 1px; border-radius: 2%; border-style: solid; border-color: rgb(219, 216, 216); background: #ffffff;">
                                        <div class="control-group form-group">
                                            <h2 id="title" class="text-center"></h2>
                                            <div class="controls">
                                                <h3 class="text-center">Nube de palabras</h3>
                                                <div id="word_cloud" style="margin:auto"></div>
                                            </div>
                                            <div class="col-md-offset-1">
                                                <a id="download_button" type="button" title="Descargar" class="btn btn-verlibro" download><i class="fas fa-download"></i></a>
                                                <button type="button" title="Leer"class="btn btn-verlibro" onclick="window.open();parent.opener=top;opener.close();"><i class="fab fa-readme"></i></button><br>
                                                <span>Descargas: <span id="num_downloads"></span> </span><br>
                                                <span>Publicado en: <strong id="date_release"></strong></span>

                                            </div>
                                        </div>
                                    </div>
                        </div>
                   </div>
                </div>
        </div>
</div> <br>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-12">
                    <div class="verlibro">
                        <div class="panel-heading"> 
                            <!-- <span class="glyphicon glyphicon-comment"></span> Barra de comentario (!--"Acordeón"--)  -->
                            <!--
                                <div class="btn-group pull-right"> 
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"> 
                                    <span class="glyphicon glyphicon-chevron-down"></span> 
                                </button>
                            </div>
                            -->
                        </div> 
                        <div class="panel-body"> 
                            <ul id="comments" >
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group"> 
                                <input id="comment" type="text" class="form-control input-sm" placeholder="Escriba un comentario..." /> 
                                <span class="input-group-btn"> 
                                    <button class="btn btn-coment btn-sm" id="btn-chat" onclick="Comment.submitComment()">Comentar</button>
                                </span>
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="denounce" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Denuncia derechos de autor</h4>
            </div>
            <form class="" id="uploadBook">
              <div class="modal-body">
                  <blockquote >
                    <i>La LIBREría solamente difunde material con licencias libres y de autoría propia, si el libro que selecciono no cumple con estas características,
                      escribe tu denuncia a continuación:</i>
                  </blockquote>
                  <div class="form-group">
                    <textarea type="text" class="form-control" id="desc" name="desc" aria-describedby="autorhelp" placeholder="Escriba su denuncia" required></textarea>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary" onclick="Book.denounceBook()">Subir</button>
              </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename = 'assets/js/ver-libro.js')}}"></script>
<script src="{{ url_for('static', filename = 'assets/js/Book.js')}}"></script>
<script>
    $(function(){
        getBook();
        Book.renderStars();
        Book.getRating();
    });
</script>
{% endblock %}

